﻿
@{
    ViewBag.Title = "ContactFromGreetings";
}

<h2>ContactFromGreetings</h2>

<html>
<head>
    <title>User greetings</title>
</head>
<body>
    <br />
    <!--wyswietlenie powitania-->
    <div>
        <h3>Hello @ViewBag.userName</h3>
    </div>
    <hr />

</body>
</html>