﻿@model AnnaGudelajtisLab6.Models.ContactForm
@{
    ViewBag.Title = "ContactForm";
}

<h2>ContactForm</h2>

@using (Html.BeginForm("ContactForm", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <!--imie-->
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new{ htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>

    <!--nazwisko-->
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>

    <!--opis-->
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new{ htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>

    <!--wysłanie formularza-->
    <div class="form-group">
        <div class="com-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>

</div>

}