﻿@model AnnaGudelajtisLab6.ViewModels.CarVM
@{
    ViewBag.Title = "GetCarByModel";
}

<h2>GetCarByModel</h2>

<html>
<head>
    <title>Get models</title>
</head>

<body>
    <!--wyswietlenie samochodu-->
    <h2>Model: @Model.Model</h2>
    <h4>Marka: @Model.Manufacturer</h4>
    <h4>Cena: @Model.Price</h4>
    <img src="@Model.Photo" alt="@Model.Model" />


</body>


</html>