﻿@model List<string>
@{
    ViewBag.Title = "GetListOfModels";
}

<h2>GetListOfModels</h2>

<html>
<head>
    <title>Get models</title>
</head>

<body>
    <h2>Lista modeli samochodów</h2>
    <ul>
        @foreach (var carModel in Model)
        {
            <li>@Html.ActionLink(carModel, "GetCarByModel", "Home", new { model = carModel }, null)</li>
        }
    </ul>


</body>

</html>