﻿
@{
    ViewBag.Title = "InterstingLinks";
}

<h2>InterestingLinks</h2>

<div>
    <!--linki; target="_blank" - otwiera link w nowej karcie-->
    <ul>
        <li><a href="https://google.pl" target="_blank">Google</a></li>
        <li><a href="https://interia.pl" target="_blank">Interia</a></li>
        <li><a href="https://wikipedia.org" target="_blank">Wikipedia</a></li>
    </ul>
</div>

