﻿/*styl całego ciała strony*/
body {
    background-color: black;                /*kolor tla*/
}

/*styl nagłówka*/
header {
    width: 100%;                            /*szerokosc*/
    height: 80px;                           /*wysokosc*/
    background-color: black;
    color: white;                           /*kolor czcionki*/
    font-size: 50px;                        /*rozmiar czcionki*/
    text-align: center;                     /*umiejscowienie na srodku*/
}

/*style sekcji*/
section {
    float: left;                            /*przesunięcie do lewej*/
    width: 100%;
    height: 560px;
    background-color: grey;
}

/*style dla paragrafów p w sekcji*/
section p {
    text-align: center;
}

/*styl drugich nagłówków*/
h2{
     text-align: center;
     margin-right: 5%;                      /*marginasy z prawej i lewej*/
     margin-left: 5%;
}

/*STYLE DLA INDEX.HTML*/

/*podtytuł - # odwołanie po id*/
#subheader {
    font-size: 30px;
    text-align: center;
    color: deepskyblue;
}

/*obraz kierujący na grę*/
#gamePlay {
    text-align: center;
    margin-left: 40px;
    margin-right: auto;
    width: 500px;
    height: 400px;
}

/*obraz miasta bagkok*/
#bangkokCity {
    text-align: center;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 20px;
    width: 300px;
    height: 200px;
}

/*podpis tabeli*/
table caption{
    text-align:center;
    caption-side:bottom;
}

/*kontener z tabelą*/
#tableContainer {
    text-align: center;
}

/*kontener o grze*/
#gamePlayContainer {
    text-align: center;
}
 /*tabelka*/
#destinationsTable {
    width: 100%;
    height:400px;
    background-color: darkgrey;
}

/*poszczególne elementy tabelki*/
#destinationsTable th, td {
   border: 1px solid deepskyblue;
   text-align: center;
   /*padding-left: 15px;*/
}

/*klasa row, wyswietla kontenery w rzedzie*/
.row {
    display: flex;
}

/*klasa column, stanowi poszczegolne kolumny rzędu (dla 2)*/
.column {
    flex: 50%;
}

/*jw. (dla 3) */
.triplecolumn {
    flex: 33%;
    padding: 10px;
}

/*STYLE DLA GAME.HTML*/

/*figure z obrazkiem gry*/
#gameSquare {
    width: 600px;
    height: 400px;
    text-align:center;
}

/*obraz - gra*/
#game {
    width:auto;
    height: 400px;
    text-align:center;
}
 /*kontener z grą*/
#gameContainer {
    text-align:center;
}

/*klasa center dla wysrodkowania gry*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*podpis pod obrazkiem gry*/
figcaption {
    display: block;
}

/*STYLE DLA BANGKOK.HTML*/

/*obrazy*/
#bangkok, #bangkokRiver {
    width: 400px;
    height: 300px;
    margin-left:20px;
    margin-right:20px;
}