﻿/*styl całego ciała strony*/
body {
    background-color: black;
}

/*styl nagłówka*/
header {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: center;
}

section {
    float: left;
    width: 100%;
    height: auto;
    background-color: grey;
}

    section p {
        text-align: center;
    }

#description {
    font-size: 30px;
    text-align: center;
    color: greenyellow;
}

#button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#timesTable {
    width: 50%;
    background-color: darkgrey;
}

    #timesTable th, td {
        border: 1px solid white;
        text-align: left;
        padding-left: 15px;
    }

.description {
}
