﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!--wiadomość z kontrolera-->
<h3>@ViewBag.Message</h3>

<!--dodatkowe informacje-->

<p>This page provides information about films and actors.</p>
