﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--strona kontaktowa z linkiem zewnętrznym-->
<address>
    <strong>Support:</strong>   <a href="https://www.facebook.com/KNKredek/" target="_blank">KN KREDEK</a><br />
</address>