﻿@model List<AnnaGudelajtisLab6ZadanieDomowe.ViewModels.FilmVM>

@{
    ViewBag.Title = "GetAllFilms";
}

<h2>GetAllFilms</h2>

<html>
<head>
    <title>Get all films</title>
</head>

<body>
    <!--wyświetlenie każdego filmu ze szczególami-->
    <!--razor-->
    @foreach (var film in Model)
    {
    <div>
        <!--wyswietlanie poszczegolnych atrybutów-->
        <h2>@film.Name</h2>
        <h4>Rok produkcji: @film.YearOfProduction</h4>
        <h4>Gatunek: @film.Category</h4>
        <h4>Reżyseria: @film.Director</h4>
        <img src="@film.Photo" alt="@film.Name"  width="350px"; height="500px";/>
        <hr />

    </div>
    }

</body>

</html>

