﻿@model List<AnnaGudelajtisLab6ZadanieDomowe.ViewModels.ActorVM>


@{
    ViewBag.Title = "GetAllActors";
}

<h2>GetAllActors</h2>

<!--Strona z aktorami-->
<html>
<head>
    <title>Get all actors</title>
</head>

<body>
    <!--wyswietlenie kadzego aktora z jego atrybutami-->
    <!--razor-->
    @foreach (var actor in Model)
    {
    <div>
        <!--wyswietla poszczegolne aytrybuty-->
        <h2>@actor.FirstName @actor.LastName</h2>
        <h4>Pochodzenie: @actor.Nationality</h4>
        <img src="@actor.Photo" alt="@actor.FirstName" width="400px" ; height="400px" ; />
        <hr />
        <hr />
    </div>
    }

</body>

</html>