﻿@model List<AnnaGudelajtisLab6ZadanieDomowe.ViewModels.FilmVM>

@{
    ViewBag.Title = "GetFilmByCategory";
}

<h2>GetFilmByCategory</h2>

<!--Filmy z wybranej kategorii-->
<html>
<head>
    <title>Get films from the category</title>
</head>

<body>
    <!--wyswietla wszystkie filmy z danej kategorii-->
    <!--razor-->
    @foreach (var film in Model)
    {
        <div>
            <!--atrybuty danego filmu-->
            <h2>@film.Name</h2>
            <h4>Rok produkcji: @film.YearOfProduction</h4>
            <h4>Gatunek: @film.Category</h4>
            <h4>Reżyseria: @film.Director</h4>
            <img src="@film.Photo" alt="@film.Name" width="350px" ; height="500px" ; />
            <hr />

        </div>
    }

</body>

</html>