﻿@model List<string>

@{
    ViewBag.Title = "GetListOfCategories";
}

<h2>GetListOfCategories</h2>

<!--listuje gatunki naszych filmów-->
<html>
<head>
    <title>Get film categories</title>
</head>

<body>
    <h2>Lista gatunków filmów</h2>

    <!--Linki do filmów z każdego gatunku-->
    <ul>
        @foreach (var filmCategory in Model)
        {
            <!--ActionLnk z przekazaniem parametru (danego gatunku)-->
            <li>@Html.ActionLink(filmCategory, "GetFilmByCategory", "Home", new { category = filmCategory }, null)</li>
        }
    </ul>

</body>

</html>