﻿@{
    ViewBag.Title = "Home Page";
}

<!--strona główna-->
<div class="jumbotron">
    <!--tworzy kontener wiersz-->
    <div class="row">
        <!--kontener kolumna w danym wierszu-->
        <div class="col-md-4">
            <h1>FILMY</h1>
            <ul>
                <!--przycisk z ActionLinkiem-->
                <li class="btn btn-primary btn-lg" style="outline-color: antiquewhite; background-color:aquamarine">@Html.ActionLink("Ciekawe filmy", "GetAllFilms", "Home")</li>
            </ul>
        </div>
        <!--druga kolumna-->
        <div class="col-md-4" style="text-align:center">
             <h1>AKTORZY</h1>
             <ul>
                <li class="btn btn-primary btn-lg" style="outline-color: antiquewhite; background-color:aquamarine">@Html.ActionLink("Aktorzy", "GetAllActors", "Home")</li>
             </ul>
        </div>
    </div>
</div>

<!--drugi wiersz-->
<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h2> Get films by category</h2>
        <p>
            <ul>
                <!--biały przycisk z ActionLinkiem-->
                <li class="btn btn-default">@Html.ActionLink("Lista gatunków", "GetListOfCategories", "Home")</li>
            </ul>
        </p>
    </div>
</div>