﻿@model IEnumerable<AnnaGudelajtisLab7ZadanieDomowe.ViewModels.ShowCakeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Ciasta</h1>
@* odnośnik do widoku z potrwami *@
<p>
    <a asp-action="Recipes">See other recipes</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* tytuly poszczegolnych kolumn tabeli ciast *@
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* wyswietlenie poszczegolnych danych dla kazdego rekordu *@
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    ViewData["Title"] = "Home Page";
}

@* formularz z polami na poszczegolne dane dla nowego rekordu *@
<form asp-controller="Home" asp-action="Cake" method="post">
    <input placeholder="name" name="name" />
    <input placeholder="preparationTime" name="preparationTime">
    <input placeholder="difficulty" name="difficulty" />
    <input placeholder="temperature" name="temperature" />
    <input placeholder="description" name="description" />
    <button type="submit">Submit</button>
</form>

@* tekst dolny z odnosniekiem zewnetrznym *@
<div class="text-center">
    <h2 class="display-4"> </h2>
    <h2 class="display-4">Smacznego!</h2>
    <p>Learn about <a href="https://kuchnialidla.pl/przepisy/boze-narodzenie" target="_blank" /a> kuchnialidla.pl/przepisy/boze-narodzenie </p>
</div>
